@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,500;1,300&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  padding: 2rem;
}

hr {
  border: 1px solid #eee;
  margin: 2rem 0;
}

h1 {
  font-weight: 500;
}

p {
  font-weight: 300;
  font-style: italic;
}

code {
  white-space: pre-wrap !important;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap !important;
  white-space: -o-pre-wrap !important;
  word-wrap: break-word !important;
}
